.page {
  height: 100vh;
  background: -webkit-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
    background: -moz-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
    background: -o-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
    background: linear-gradient(to top right, #1c1c1c 0%, #706f6f 100%); 
}
.logout {
  display: flex;
  align-items: center;
  justify-items: center;
}

.depositBox {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
}
.homeImageContainer {
  cursor: pointer;
  &:hover {
    background-color: #F9C700;
  }
}
.icon {
  color: black;
  transition: all .3s ease-in-out;
}

.icon:hover {
  color: black;
}

a:hover, .dropdown:hover .dropbtn:hover {
  
  background-color: #F9C700;
  color: black;
  
     cursor: pointer;
}
.dropdownContent {
  display: block;
  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all .3s ease-in-out;
     cursor: pointer;
  }
  a:hover {
    background-color: #F9C700;
     cursor: pointer;
  }
}

.bonusCard {
    /* border-radius: 12px; */
		padding: 1rem;
		background: #fff;
		box-shadow: 0 4px 12px rgba(0,0,0,0.1);
		max-width: 300px;
    margin-bottom: 20px;
    min-height: 250px;
    min-width: 160px;
    transition: all .3s ease-in-out;
    h3 {
      margin-bottom: 0.5rem;
      height: 50px;
      font-size: 1.2rem,
    }
    &:hover {
      background-color: #F9C700;
     cursor: pointer;
    }
}

.bonusCardClaimed {
    /* border-radius: 12px; */
		padding: 1rem;
		background: #bebbae;
		box-shadow: 0 4px 12px rgba(0,0,0,0.1);
		max-width: 300px;
    margin-bottom: 20px;
    min-height: 250px;
    min-width: 160px;
    transition: all .3s ease-in-out;
    cursor: not-allowed;
    h3 {
      margin-bottom: 0.5rem;
      height: 50px;
      font-size: 1.2rem,
    }
    &:hover {
      background-color: #8a8677ad;
    }
}

.bonusCardImage {
  display: block;
  margin: auto;
  width: 50%;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all .3s ease-in-out;
}
.dropdown:hover .dropdownContent {
  display: block;
   cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: all .3s ease-in-out;
  &hover {
    display: block;
    cursor: pointer;
  }
}
.dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 9px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: all .3s ease-in-out;
}


.page {
  header {
    height: 40px;
    width: 100%;
    background: -webkit-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
    background: -moz-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
    background: -o-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
    background: linear-gradient(to top right, #1c1c1c 0%, #706f6f 100%); 
    display: flex;
    justify-content: space-between;
}}

.loginPage {
  padding: 80px;
  align-items: center;
  justify-items: center;
  p {
    color: red;
  }
  div {
    padding-top: 20px;
    margin-bottom: 20px;
    display: grid;
  }
  /* input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
  } */
  
  /* input:hover,
  input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  } */

}

.options {
    display: flex;
    gap: 20px;
}

.profileFrame {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  width: 400px;
  height: 400px;
  /* margin-top: -200px;
  margin-left: -200px; */
  /* border-radius: 50px; */
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	background: #706f6f;
  background: -webkit-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
  background: -moz-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
  background: -o-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
  background: linear-gradient(to top right, #1c1c1c 0%, #706f6f 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#706f6f',GradientType=1 ); 
  color: #070707;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.profileCardCenter {
  position: absolute;
  top: 50px;
  left: 40px;
	height: 299px;
	width: 320px;
	background: #fff;
	/* border-radius: 50px; */
	overflow: hidden;
	box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}

.profileName {
		font-size: 15px;
		font-weight: 600;
		margin-top: 20px;
	}

.profile {
	float: left;
	width: 200px;
	height: 320px;
	text-align: center;
}

.profileImage {
		position: relative;
		width: 70px;
		height: 70px;
		margin: 38px auto 0 auto;
}

.profileCircle1 {
			position: absolute;
			box-sizing: border-box;
			width: 76px;
			height: 76px;
			top: -3px;
			left: -3px;
			border-width: 1px;
			border-style: solid;
			border-color:  #070707  #070707  #070707 transparent;
			border-radius: 50%;
			transition: all 1.5s ease-in-out;
		}
		
		.profileCircle2 {
			position: absolute;
			box-sizing: border-box;
			width: 76px;
			height: 76px;
			top: -3px;
			left: -3px;
			border-width: 1px;
			border-style: solid;
			border-color:  #070707  #070707  #070707 transparent;
			/* border-radius: 50%; */
			transition: all 1.5s ease-in-out;
			width: 82px;
			height: 82px;
			top: -6px;
			left: -6px;
			border-color:  #070707 transparent  #070707  #070707;
		}

.profileStats {
	float: left;
      height: 100%;
    background: #f8d95d;
}
.profileBox {
		box-sizing: border-box;
		width: 120px;
		height: 70px;
		text-align: center;
		padding-top: 28px;
		transition: all .4s ease-in-out;
    span {
		  display: block;
	  }
}
.profileActions {
		margin-top: 33px;
    display: grid;
    gap: 10px;
}
.profileValue {
		font-size: 18px;
		font-weight: 600;
	}
	
	.profileParameter {
		font-size: 11px;
	}

.profileName {
		font-size: 15px;
		font-weight: 600;
		margin-top: 20px;
	}
	
	.profileJob {
		font-size: 11px;
		line-height: 15px;
	}
	

.bonusShopWrapper {
  display: flex;
  flex-wrap: wrap;
}
.bonusElement {
    flex: 0 0 30.3333%;
    margin-left: 20px;
}

button.smallSecondary {
			display: block;
			width: 120px;
			height: 30px;
			margin: 0 auto 10px auto;
			background: none;
			border: 1px solid black;
			/* border-radius: 15px; */
			font-size: 12px;
			font-weight: 600;
			box-sizing: border-box;
			transition: all .3s ease-in-out;
			color: black ;
			&:hover {
				background: #F9C700 ;
        border: 1px solid #F9C700;
				color: #fff;
        cursor: pointer;
			}
}

.bodyWraper {
  background: white;
  margin-left: 20vw;
  margin-right: 20vw;
  height: 93vh;
  margin-top: 0px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button.small {
			display: block;
			width: 120px;
			height: 30px;
			margin: 0 auto 10px auto;
			background: none;
			border: 0px solid black;
			/* border-radius: 15px; */
			font-size: 12px;
			font-weight: 600;
			/* box-sizing: border-box; */
			transition: all .3s ease-in-out;
			color: black ;
      background: #F9C700 ;
			&:hover {
				/* color: #fff; */
        background: #bd9701 ;
        cursor: pointer;
			}
}
input.numberInput{
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 1px #1c1c1c solid;
  /* border-radius: 100px; */
  transition: all 0.2s ease-in-out;
  &:focus {
    outline: none;
    box-shadow: 0 5px 15px #1c1c1c;
  }
  &:hover {
    box-shadow: 0 5px 15px #1c1c1c;
}
}
.inputContainer{
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}
.labelForInput{
  font-size: 0.75rem;
  color: #1c1c1c;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: white;
  width: fit-content;
}

.languageDropdown {
  padding: '0.5rem';
  /* border-radius: 128px; */
}

/* button.secondary {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  font-family: var(--font-geist-sans);
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background: -webkit-linear-gradient(bottom left, #F9C700 0%, #0bd8bd 100%);
  background: -moz-linear-gradient(bottom left, #F9C700 0%, #0bd8bd 100%);
  background: -o-linear-gradient(bottom left, #F9C700 0%, #0bd8bd 100%);
  background: linear-gradient(to top right, #F9C700 0%, #0bd8bd 100%); 
  min-width: 180px;
} */
.button.secondary {
			display: block;
			width: 120px;
			height: 30px;
			margin: 0 auto 10px auto;
			background: none;
			border: 1px solid black;
			/* border-radius: 15px; */
			font-size: 12px;
			font-weight: 600;
			box-sizing: border-box;
			transition: all .3s ease-in-out;
			color: #F9C700 ;
			&:hover {
				background: #F9C700 ;
				color: #fff;
        cursor: pointer;
			}
		}

button.primary {
  appearance: none;
  /* border-radius: 128px; */
  height: 48px;
  padding: 0 20px;
  border: none;
  font-family: var(--font-geist-sans);
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background: -webkit-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
  background: -moz-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
  background: -o-linear-gradient(bottom left, #1c1c1c 0%, #706f6f 100%);
  background: linear-gradient(to top right, #1c1c1c 0%, #706f6f 100%); 
  min-width: 180px;
  &:hover {
    cursor: pointer;
  }
}
.isClaimed {
  color: red;
}



